/*=============================*/
/* ROOT */
/*=============================*/
:root {
    --font: 'Poppins', sans-serif;
    --sidebar-width: 21.857rem;
    --sidebar-height: 100%;

    --color-white: #fff;
    --color-bg: #fafbff;
    --color-input-bg: #f9fbff;
    --color-gray: #9197b3;
    --color-gray-2: #757575;
    --color-gray-3: #b5b7c0;
    --color-black: #000;
    --color-green: #00b087;
    --color-green-bg: rgba(22, 192, 152, 0.38);
    --color-red: #df0404;
    --color-red-bg: #ffc5c5;
    --color-blue: #5932ea;
    --color-pagination-bg: #f5f5f5;
    --color-pagination-border: #eeeeee;
}

@media (max-width: 1199px) {
    :root {
        --sidebar-width: 100%;
        --sidebar-height: 4.571rem;
    }
}

@media (max-width: 575px) {
    :root {
        --sidebar-height: 4.286rem;
    }
}
