@import 'fonts';
@import 'media';
@import 'root';
@import 'reset';
@import 'loader';

/*=============================*/
/* GLOBAL SETTINGS */
/*=============================*/
html {
    font-family: var(--font);
    font-size: 0.972vw;
    background-color: var(--color-bg);

    @include tabletBig {
        font-size: 14px;
    }
}

.body {
    &--lock {
        overflow: hidden;
    }
}

.section {
    position: relative;
    width: 100%;
}

.container {
    max-width: 71.429rem;
    padding: 0 1.143rem;
}

/*=============================*/
/* TYPOGRAPHY */
/*=============================*/
.title {
    position: relative;
    line-height: 1.3em;
    color: var(--color-black);

    &--h1 {
        font-size: 1.714rem;
    }

    &--h2 {
        font-size: 1.571rem;
    }
}

.text {
    position: relative;
    font-size: 1rem;
    color: var(--color-black);

    &--size-2 {
        font-size: 0.857rem;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
    transition: all 0.3s;

    &:link,
    &:visited,
    &:active,
    &:hover {
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }
}

iframe {
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
